body {
    background: gray;
}

/* CSS Variables */
:root {
    /* main UI color */
    --plyr-color-main: darkgray;
    /* audio controls background */
    --plyr-video-controls-background: black;
    /* audio controls color */
    --plyr-video-control-color: white;
}

/* Layout */
main {
    /* Fixed width center align */
    max-width: 60em;
    margin-inline: auto;

    background: lightgray;
}

main img {
    /* Fit image to container */
    max-width: 100%;
    display: block;
}

article {
    /* flow content horizontally */
    display: flex;
    gap: 1em;
    justify-content: center;
}

footer {
    text-align: center;
}

/* Media Queries */
@media (max-width: 600px) {
    main article {
        flex-direction: column;
        align-items: center;
    }
}